
html,body {
    height:100%;
}



h1 {
    color: #383838;
    font-size: 225%;
    margin: 0.2em 0 0.5em 0;
    padding: 0 0 0.2em 0;
    line-height: 1.1em;
    font-family: Trebuchet MS;
    border-bottom: 3px solid #e85100;
}


h3 {
    color: #383838;
    font-family: Trebuchet MS;

}


.formError{color:red;}




.field-name-field-image img {
    max-width: 200px;
    height: auto;
}





@media (max-width: 700px) {
    .client-logo {
        width: 50%;
        vertical-align: middle;
    }

    .navbar-default {
    height: 70px;
	}

	.navbar:after {
    background-position: 25% 0%;
	}




}

@media (min-width: 990px) {


	.nodewrap__fields {height: 430px}  

}


.nodewrap__teaser--blog {

    padding: 20px;
    width: 100%;

}


.navbar-default {
    height: 120px;
    border: none;
}


.navbar-default {
    background-color: #0E3081;
    border-color: #f8f8f8;
}






