.formError{color:red;}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}





@media (max-width: 700px) {
    .client-logo {
        width: 50%;
        vertical-align: middle;
    }

    .navbar-default {
    height: 70px;
	}

	.navbar:after {
    background-position: 25% 0%;
	}
}


