
html,body {
    height:100%;
}



.formError{color:red;}




.field-name-field-image img {
    max-width: 200px;
    height: auto;
}





@media (max-width: 700px) {
    .client-logo {
        width: 50%;
        vertical-align: middle;
    }

    .navbar-default {
    height: 70px;
	}

	.navbar:after {
    background-position: 25% 0%;
	}




}

@media (min-width: 990px) {


	.nodewrap__fields {height: 430px}  

}


.nodewrap__teaser--blog {

    padding: 20px;
    width: 100%;

}




